<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security-3.1.xsd">


    <!-- ************************************************************************************************* -->
    <!-- ************************************************************************************************* -->
    <!-- ******************** SPRING SECURITY FILTERS **************************************************** -->
    <!-- ************************************************************************************************* -->
    <!-- ************************************************************************************************* -->


    <!-- The order of filters is important -->
    <!-- These define the processing of user requests as they enter the web application -->
    <bean id="springSecurityFilterChain" class="org.springframework.security.web.FilterChainProxy">
        <security:filter-chain-map path-type="ant">
            <security:filter-chain pattern="/**"
                                   filters="securityContextPersistenceFilter,
                                            logoutFilter,
                                            usernamePasswordAuthenticationFilter,
                                            anonymousAuthenticationFilter,
                                            exceptionTranslationFilter,
                                            filterSecurityInterceptor" />
        </security:filter-chain-map>
    </bean>

    <!-- The SecurityContextPersistenceFilter is used to set up the SecurityContext, -->
    <!-- which is used throughout the scope of a request to track the authentication -->
    <!-- information related to the requestor for the duration of the entire request. -->
    <bean id="securityContextPersistenceFilter" class="org.springframework.security.web.context.SecurityContextPersistenceFilter"/>


    <!-- The basic declaration of the LogoutFilter -->
    <bean id="logoutFilter" class="org.springframework.security.web.authentication.logout.LogoutFilter">
        <!-- the post-logout destination -->
        <constructor-arg value="/"/>
        <constructor-arg>
            <array>
                <ref local="logoutHandler"/>
            </array>
        </constructor-arg>
        <property name="filterProcessesUrl" value="/logout.do"/>
    </bean>
    <bean id="logoutHandler" class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler"/>

    
    <!-- UsernamePasswordAuthenticationFilter is used to process form submission and -->
    <!-- check with the authentication store for valid credentials. -->
    <bean id="usernamePasswordAuthenticationFilter" class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
        <property name="filterProcessesUrl" value="/login.do" />
        <property name="usernameParameter" value="username" />
        <property name="passwordParameter" value="password" />
        <property name="authenticationManager" ref="customAuthenticationManager"/>
        <!-- TODO -->
        <!--<property name="sessionAuthenticationStrategy" ref="concurrentSessionControlStrategy"/>-->
        <property name="authenticationFailureHandler" ref="authenticationFailureHandler"/>
    </bean>
    <bean id="authenticationFailureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
        <property name="defaultFailureUrl" value="/login.xhtml?errorcode=300"/>
    </bean>

    <!-- Our site needs to allow anonymous access. Although there are very specific -->
    <!-- conditions where the AnonymousAuthenticationFilter isn't required, typically -->
    <!-- it should be used, as it adds very little overhead to request processing. -->
    <bean id="anonymousAuthenticationFilter" class="org.springframework.security.web.authentication.AnonymousAuthenticationFilter">
        <property name="userAttribute" value="anonymousUser,ROLE_ANONYMOUS"/>
        <property name="key" value="BF93JFJ091N00Q7HF"/>
    </bean>

    <!-- The final servlet filter in the standard Spring Security filter chain is the ExceptionTranslationFilter. -->
    <bean id="exceptionTranslationFilter" class="org.springframework.security.web.access.ExceptionTranslationFilter">
        <property name="authenticationEntryPoint" ref="authenticationEntryPoint"/>
        <property name="accessDeniedHandler" ref="accessDeniedHandler"/>
    </bean>
    <bean id="authenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <property name="loginFormUrl" value="/login.xhtml?errorcode=150"/>
    </bean>
    <bean id="accessDeniedHandler" class="org.springframework.security.web.access.AccessDeniedHandlerImpl">
        <property name="errorPage" value="/accessDenied.xhtml"/>
    </bean>


    <!-- The final filter in our basic processing chain is the filter that is ultimately responsible -->
    <!-- for checking the Authentication object, which is the result of prior processing by -->
    <!-- the configured security filters. This is the filter that determines whether or not a -->
    <!-- particular request is ultimately rejected or accepted. -->
    <bean id="filterSecurityInterceptor" class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
        <property name="authenticationManager" ref="customAuthenticationManager"/>
        <property name="accessDecisionManager" ref="affirmativeBased"/>
        <property name="securityMetadataSource">
            <security:filter-security-metadata-source>
                <security:intercept-url pattern="/javax.faces.resource/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
                <security:intercept-url pattern="/favicon.ico" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
                <security:intercept-url pattern="/index.html" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
                <security:intercept-url pattern="/home.xhtml" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
                <!--<security:intercept-url pattern="/**" access="denyAll"/>-->
                <!--<security:intercept-url pattern="/login.do" access="IS_AUTHENTICATED_ANONYMOUSLY"/>-->
                <!--<security:intercept-url pattern="/login.xhtml" access="permitAll"/>-->
                <security:intercept-url pattern="/login.xhtml" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
                <!--<security:intercept-url pattern="/home.do" access="IS_AUTHENTICATED_ANONYMOUSLY"/>-->
                <!--<security:intercept-url pattern="/account/*.do" access="ROLE_USER"/>-->
                <!--<security:intercept-url pattern="/secure/**" access="ROLE_USER"/>-->
                <security:intercept-url pattern="/*" access="ROLE_USER,ROLE_ADMIN"/>
                <security:intercept-url pattern="/secure/*" access="ROLE_USER,ROLE_ADMIN"/>
                <security:intercept-url pattern="/secure/account/**" access="ROLE_ADMIN"/>
            </security:filter-security-metadata-source>
        </property>
    </bean>



    <!-- ************************************************************************************************* -->
    <!-- ************************************************************************************************* -->
    <!-- *************************** SUPPORTING OBJECTS ************************************************** -->
    <!-- ************************************************************************************************* -->
    <!-- ************************************************************************************************* -->

    <!-- If any voter grants access, access is immediately granted, regardless of previous denials. -->
    <bean id="affirmativeBased" class="org.springframework.security.access.vote.AffirmativeBased">
        <property name="decisionVoters">
            <list>
                <ref bean="roleVoter"/>
                <ref bean="authenticatedVoter"/>
            </list>
        </property>
    </bean>
    <bean id="roleVoter" class="org.springframework.security.access.vote.RoleVoter"/>
    <bean id="authenticatedVoter" class="org.springframework.security.access.vote.AuthenticatedVoter"/>

    <!-- It is responsible for providing credential validation to the AuthenticationManager. Some -->
    <!-- AuthenticationProvider implementations partially base their acceptance of credentials on a -->
    <!-- credential store, such as a database. -->
    <bean id="daoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <property name="saltSource" ref="saltSource"/>
        <property name="passwordEncoder" ref="passwordEncoder"/>
        <property name="userDetailsService" ref="myUserService"/>
    </bean>
    <bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder"/>
    <bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
        <property name="userPropertyToUse" value="username"/>
    </bean>

    <!-- the key property of the AnonymousAuthenticationProvider must match the -->
    <!-- key property that we previously defined for the AnonymousAuthenticationFilter -->
    <bean id="anonymousAuthenticationProvider" class="org.springframework.security.authentication.AnonymousAuthenticationProvider">
        <property name="key" value="BF93JFJ091N00Q7HF"/>
    </bean>

    <!-- It is responsible for validating the user's credentials, and either throwing specific exceptions (in -->
    <!-- case of authentication failure), or filling out the Authentication object completely, notably including -->
    <!-- authority information. -->
    <bean id="customAuthenticationManager" class="org.springframework.security.authentication.ProviderManager">
        <property name="providers">
            <list>
                <ref local="daoAuthenticationProvider"/>
                <ref local="anonymousAuthenticationProvider"/>
            </list>
        </property>
    </bean>


    <!-- ************************************************************************************************* -->
    <!-- ************************************************************************************************* -->
    <!-- ****************************** Services ********************************************************* -->
    <!-- ************************************************************************************************* -->
    <!-- ************************************************************************************************* -->
    <bean id="myUserService" class="org.helloworld.example.security.MyUserDetailsService"/>


</beans>
